

:root {
	--hexSize: max(min(calc(90vw/((var(--colCount)*3)+1)), calc(90vh/(((var(--rowCount)*2)+1)*1.732))), 6px);
	--fontSize: calc(var(--hexSize)/2)
	
}


body {

}

.hex-grid__list {
	width: calc(((var(--colCount)*3)+1)*var(--hexSize));
	height: calc(((var(--rowCount)*2)+1)*1.732*var(--hexSize));
    display: grid;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    grid-template-columns: repeat(var(--colCount), 1fr 2fr) 1fr;
	background-color: powderblue;
}


.hex-grid__item {
	padding: calc(var(--padSize)*1px);
/*	max-height: calc(1.732*var(--hexSize));
	position: relative;
     // Columns
    @for $i from 1 through $amount {
        &:nth-of-type(#{$amount}n + #{$i}) {
            grid-column: #{$i + $i - 1} / span 3;
            @if $i % 2 == 0 {
                grid-row: calc(var(--counter) + var(--counter) - 1) / span 2;
            }
        }
    }

    // Rows
    @for $i from 1 through 20 {
        &:nth-of-type(n + #{$i * $amount + 1}) {
            --counter: #{$i + 1};
        }
    }
*/
}


.hex-grid__content {
	font-size: var(--fontSize);
	overflow: hidden;
    position:relative;
	padding: 0 25%;
	height: 100%;/**/
	background-color: white;
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
}