body {
  
}

.hex-grid__list {
    --amount: 5;
    --counter: 1;
    display: grid;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    grid-template-columns: repeat(var(--amount), 1fr 2fr) 1fr;
	background-color: powderblue;
}


.hex-grid__item {
	padding: 2px;
/*	position: relative;
	height: 100%;

     // Columns
    @for $i from 1 through $amount {
        &:nth-of-type(#{$amount}n + #{$i}) {
            grid-column: #{$i + $i - 1} / span 3;
            @if $i % 2 == 0 {
                grid-row: calc(var(--counter) + var(--counter) - 1) / span 2;
            }
        }
    }

    // Rows
    @for $i from 1 through 20 {
        &:nth-of-type(n + #{$i * $amount + 1}) {
            --counter: #{$i + 1};
        }
    }
*/
}


.hex-grid__content {
    height: 100%;
	left: 50%;
    top: 50%;
    background-color: white;
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
}