.system {
	grid-column: 1 / 1;
	grid-row: 1 / 1;
	font-size: calc(var(--fontSize)*1.9);
	color: var(--hexNumColor, var(--BGColor, #000000));
	top: 0;
	display: flex; 
	height: 95%;
	align-items:center; 
	justify-content:center;
}

.starport {
	grid-column: 1 / 1;
	grid-row: 1 / 1;
	font-size: calc(var(--fontSize)/1.6);
	color: var(--hexNumColor, var(--BGColor, #000000));
	top: 0;
	display: flex; 
	height: 50%;
	align-items:center; 
	justify-content:center;
}

.navyBase {
	grid-column: 1 / 1;
	grid-row: 1 / 1;
	font-size: calc(var(--fontSize)/1.5);
	color: var(--hexNumColor, var(--BGColor, #000000));
	top: 0;
	display: flex; 
	height: 45%;
	width: 55%;
	align-items:flex-end; 
	justify-content:center;
}
	
.scoutBase {
	grid-column: 1 / 1;
	grid-row: 1 / 1;
	font-size: calc(var(--fontSize)/1.5);
	color: var(--hexNumColor, var(--BGColor, #000000));
	top: 0;
	display: flex; 
	height: 70%;
	width: 55%;
	align-items:flex-end; 
	justify-content:center;
}

.gasGiant {
	grid-column: 1 / 1;
	grid-row: 1 / 1;
	font-size: calc(var(--fontSize)/1.2);
	color: var(--hexNumColor, var(--BGColor, #000000));
	top: 0;
	display: flex; 
	height: 45%;
	width: 78%;
	align-items:flex-end; 
	justify-content:right;
}

.sysName {
	grid-column: 1 / 1;
	grid-row: 1 / 1;
	font-size: calc(var(--fontSize)/2.2);
	color: var(--hexNumColor, var(--BGColor, #000000));
	top: 0;
	display: flex; 
	height: 85%;
	width: 100%;
	align-items:flex-end; 
	justify-content:center;
	font-weight: bold;
}


/*


*/